html {
  font-size: 14px;
  height: 100%;
  background: #3D4149;
}
body {
	width: 100%;
  background-color: #3d4149;
  color: #dadada;
}
.page {
	position: relative;
	background: #3D4149;
}
.new-task{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	text-align: right;
}
.new-task span{
	width: 25%;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.new-task span em{
	overflow: hidden;
	text-overflow: ellipsis;
}
.my-task-block button {
  background-color: #0275d8;
  border-color: #0275d8;
  color: #fff;
}
.completed-task span{
	display: inline-block;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	width: 25%;
}
.new-task .new-task-name {
	width: auto;
	min-width: 30px;
	color: #FFFFFF;
}
/*.page-taskcomplite button {
	margin-left: 50px;
}*/
/* --- New styles --- */
.modal-dialog {
  color: #000;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #3d8ed2;
}
