.header-block {
	position: relative;
	margin-bottom: 30px;
	padding: 0 1.5rem .5rem;
	background: #3D4149!important;
	-webkit-box-shadow: 9px 15px 13px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 40px 0px rgba(255, 255, 255, 0.05);
	-moz-box-shadow:    9px 15px 13px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 40px 0px rgba(255, 255, 255, 0.05);
	box-shadow:         9px 15px 13px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 40px 0px rgba(255, 255, 255, 0.05);
}
@media screen and (min-width: 992px){
	.header-logo {
		position: absolute;
		top: 4px;
	    left: 140px;
	    width: 90px;
	    height: 90px;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	    background: url(../images/icon-header.png) no-repeat 50%;
	    background-size: 100% auto;
	}
}
.navbar-nav .header-button {
	-webkit-border-radius: 0;
	border-radius: 0;
	padding-top: 50px;
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow:    6px 6px 7px 0px rgba(0, 0, 0, 0.14);
	box-shadow:         6px 6px 7px 0px rgba(0, 0, 0, 0.14);
}

/*.navbar-inverse .navbar-toggler {
	border-color: rgba(255, 255, 255, 0.75);
}*/

.header-menu {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
@media screen and (min-width: 992px){
	.header-menu {
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	    align-content: flex-start;
	    -webkit-align-items: baseline;
	    -ms-flex-align: baseline;
	    align-items: baseline;
	}
}
	.header-button-block {
		padding: 0.25rem 0rem;
		font-weight: bold;
	}
		.header-button-block a {
			color: #3D4149!important;
		}
			.header-button-block a:hover {
				color: #3D4149!important;
			}
			.navbar-inverse .navbar-nav .nav-link.active {
				color: #FFFFFF!important;
			}
.header-button {
	min-width: 110px;
	text-align: center;
}
	.task {
		background-color: #F87072!important;
		background-image: url(../images/icon-task.png);
		background-repeat: no-repeat;
		background-position: center top 5px;
		-webkit-background-size: 35px auto;
		background-size: 35px auto;
	}
		.block-task .active{
			background-image: url(../images/icon-task-active.png);
			background-repeat: no-repeat;
			background-position: center top 5px;
			-webkit-background-size: 35px auto;
			background-size: 35px auto;
		}
.block-my-task { padding: 0.25rem 0;}

@media screen and (min-width: 992px){
	.block-my-task { padding: 0.25rem 2rem;}
}
	.my-task {
		background-color: #CB98ED!important;
		background-image: url(../images/icon-my_task.png);
		background-repeat: no-repeat;
		background-position: center top 5px;
		-webkit-background-size: 35px auto;
		background-size: 35px auto;
	}
		.block-my-task .active{
			background-image: url(../images/icon-my_task-active.png);
			background-repeat: no-repeat;
			background-position: center top 5px;
			-webkit-background-size: 35px auto;
			background-size: 35px auto;
		}
	.task-complete {
		background-color: #45E1BD!important;
		background-image: url(../images/icon-compl.png);
		background-repeat: no-repeat;
		background-position: center top 5px;
		-webkit-background-size: 35px auto;
		background-size: 35px auto;
	}
		.block-task-complete .active{
			background-image: url(../images/icon-compl-active.png);
			background-repeat: no-repeat;
			background-position: center top 5px;
			-webkit-background-size: 35px auto;
			background-size: 35px auto;
		}
.header-right {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 5px;
}
.block-cabinet {
	margin-right: 10px;
	display: inline-block;
}
	.cabinet-link {
	  padding: 0;
	  font-size: 20px;
	  border: 1px solid #fff;
	  border-radius: 50%;
	  width: 32px;
	  height: 32px;
	  line-height: 30px;
	  text-align: center;
		position: relative;
	}
		.cabinet-link:hover {
			background-color: #929292 !important;
		}
		.block-cabinet .nav-link.active {
			background-color: #0275d8 !important;
		}
/*.btn-exit {
	padding: 0.75rem 2rem;
	font-size: 1.143rem;
	width: 100%;
}*/
.navbar-brand {
	margin-top: 3px;
}
@media screen and (max-width: 992px){
	.header-block { padding-top: 2px; }
	.header-button, .header-button-block .active {background: none;}
	.navbar-nav .header-button {
		padding: 0;
		line-height: 43px;
		-webkit-border-radius: 0.25rem;
		border-radius: 0.25rem;
	}
	/*.btn-exit span{margin-right: 42px;}*/
}
.menu-btn {
	right: 1.5rem;
}

.alert-msg {
	position: absolute;
  top: -5px;
  right: -4px;
  font-size: 12px;
}

.message-list {
	position: absolute;
	top: 92px;
	right: 0;
	background: #3d4149;
	width: 400px;
	max-height: 500px;
	/*padding: 1rem 0;*/
	/*overflow-y: auto;*/
	z-index: 999;
	border: 1px solid #8c8c8c;
	border-right: none;
	border-top: none;
	border-radius: 5px 0 0 5px;
	box-shadow: -5px 3px 5px 0px rgba(50, 50, 50, 0.15);
}

.message-list .nav-tabs {
	border-bottom-color: #8c8c8c;
}

.message-list .nav-link.active {
	background-color: #f3fce3;
	color: #464a4c;
}

.message-list .nav-link.active:hover {
	color: #464a4c;
}

.message-list .message-wrap {
	max-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}

.message-item {
	cursor: pointer;
	text-align: left;
	padding: 1rem 0 1rem;
	border-bottom: 1px solid #50555f;
	border-radius: 5px 0 0 5px;
}

.message-item a {
	color: #dadada;
}

.message-item span {
	font-size: 10px;
  color: #5be4c5;
  display: block;
}

.message-item:hover {
	background-color: #373a42;
}

.message-item .message-creator {
	font-size: 12px;
	color: #5be4c5;
}
.message-item .message {
	word-wrap: break-word;
}

.message-item .form-group {
	margin-bottom: 0;
}
